// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$light-gray: #F4F4F4;

// Luma Charter
$dark-blue: #163487;
$gray: #656F7C;
$light-pink: #FAF5FA;
$light-gray: #DADEED;
$light-blue: #64baa5;
$dark-gray: #4a515b;
$background-very-light-gray: #fcfcfc;
