// Specific CSS for your home-page

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background-image: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

h1  {
  color: $dark-blue;
}

h2 {
  color: $gray;
  font-weight: bold;
}

h3 {
  color : $dark-blue;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

p {
  color: $light-blue;
  font-weight: medium;
}


h4 {
  color: $dark-gray;
}
// .btn {
//   height: 60px;
//   border-radius: 5px;
//   background-color: $light-blue;
//   color: white;
//   border: none;
// }



.container {
  height: calc(100vh - 70px - 70px);
}


.footer {
  height: 70px;
  background-color: $light-blue;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* parallax effect */
  background-attachment:fixed;
}

.pimg1 {
  
    min-height: 400px;
}

.pimg2 {
  background-image: url('https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    min-height: 400px;
}

.pimg3 {
  background-image: url('https://images.pexels.com/photos/632722/pexels-photo-632722.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color : white;
}

.section-light h2 {
  color: $dark-gray;
}

.section-light p {
  color: $dark-gray;
}

.section-dark {
  background-color : $dark-gray;
  color: #ddd;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size:35px;
  letter-spacing:8px; 
}

.ptext .border {
  background-color : none;
  padding: 20px;
}


