.wrapper-1 {
	width: 100%;
	margin: 0 auto 0;
	padding:30px;
	background-size: cover;
  height: calc(100vh - 130px);
  background-position: center;
}

.container {
  margin-top: 20px;
}

// COLONNE DE GAUCHE

.experience-card-show {
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.15);
  background-color: white;
  border-radius: 0px 0px 3px 3px;
}

.img-xp {
  width:100%;
  img {
    width: 100%;
    border-radius: 3px 3px 3px 3px;
  }
}

.partner {
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.15);
  padding: 30px;

}

.partner-infos {
  margin-right: 30px;
  margin-left: 5px;
}

.partner-name {
  text-align: left;
  h2 {
    font-size: 30px;
    color: $dark-blue;
    margin: 0px 0px 10px 0px;
  }
}

.partner-description p {
  text-align: justify;
  color: $dark-gray;
  font-size: 16px;
}


#plus-d-infos {
  text-align: center !important;
  font-size: 14px;
  cursor: pointer;
  color: $dark-blue;
  &:hover {
    text-decoration: none;
    color: $light-blue;
  }
}

.show-image-logo-partner {
  width: 100%;
  padding: 20px 0px 0px 0px;
  text-align: center;
  align-items: center;
  img {
    width: 65%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}


// COLONNE DE DROITE

.experience {
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.15);
  background: white;
  border-radius: 0px 0px 3px 3px;

}

.experience-details-show {
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

.price-container-show {
  position: relative;
  font-family: $headers-font;
}

.graphic {
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-color: $dark-blue;
  border-radius: 3px 3px 0px 0px;

}

.graphic:before {
    content: '';
    position: absolute;
    left: -9%;
    width: 200px;
    height: 200Px;
    background-color: $gray; /* fallback */
    background-color: $gray;
    top: -49px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 60px;
}


.prix-public {
  position: absolute;
  text-align: center;
  left: 35px;
  top: 20px;
  p {
    color: white;
    font-weight: bold;
    margin: 0px;
    padding-bottom: 10px

  }
}

#prix-public {
  font-size: 18px;
  font-weight: normal;
}

.prix-luma {
  position: absolute;
  text-align: center;
  right: 50px;
  top: 20px;
  p {
  color: white;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 10px
 }
}

.price {
  font-style: bold;
  font-size: 20px;
}

.experience-infos-show {
  padding: 30px;
}


.experience-infos-show h2 {
  color: $dark-blue;
  font-size: 32px;
  margin-top: 0px;
}

.experience-infos-show p {
  margin-top: 0px;
  color: $dark-gray;
  font-size: 18px;
  text-align: justify;
}

.experiences-text-show {
  padding-bottom: 15px;
  text-align: center;
  h2 {
  font-size: 26px;
  }
}


.experiences-text-show p {
    padding: 10px 0px 15px 0px;
    line-height: 23px;
    text-align: justify;
    font-size: 14px;
    color: $dark-gray;
}

.validity-title p {
    color: $dark-blue;
}
.validity-title .fas {
    color: $dark-blue;
    padding-right: 20px;
  }

 .price-container-show img {
  padding: 0px;
 }


.payer {
  width: 100%;
  height: 75px;
  text-align: center;
  display: block;
  padding: 15px;
  background: $light-blue;
  text-decoration: none;
  transition: $transition;
  color: white;
  font-size: 18px;
  bottom: 0px;
  padding-top: 27px;

  &:hover {
    background: $dark-blue;
    text-decoration: none;
    color: white;
  }
}

.stripe {
  height: 60px;
  border-radius: 0px 0px 5px 5px !important;
  &:hover button.stripe-button-el span {
    color: $light-blue;
  }
}

button.stripe-button-el {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background-image: $dark-blue !important;
  border-radius: 0px !important;
  padding: 0px !important;
  border-radius: 0px 0px 3px 3px !important;

}

button.stripe-button-el span {
  width: 100% !important;
  height: 100% !important;
  background-image: $dark-blue !important;
  background: $dark-blue !important;
  border-radius: 0px 0px 3px 3px !important;
  border: none !important;
  height: 40px;
  font-family: $body-font;
  font-size: 18px;
  padding-top: 15px;
}
