<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="flex">
          <div class="footer-content">
            <p class="footer-links-title">A propos de Luma</p>
            <ul class="footer-links-list">
              <li><a href="">Concept</a></li>
              <li><a href="">Qui sommes-nous?</a></li>
              <li><a href="">Contactez-nous</a></li>
              <li><a href="">Recrutement</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="flex">
          <div class="footer-content">
            <p class="footer-links-title">Nous rejoindre</p>
            <ul class="footer-links-list">
              <li><a href="">Devenez partenaire</a></li>
              <li><a href="">Nos partenaires</a></li>
              <li><a href="">Nos clients</a></li>
              <li><a href="">Les tarifs</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3">
        <div class="flex">
          <div class="footer-content">
            <p class="footer-links-title">Nous rencontrer</p>
            <ul class="footer-links-list">
              <li><a href="">Presse</a></li>
              <li><a href="">Application iPhone</a></li>
              <li><a href="">Application Androïd</a></li>
              <li>
                <div class="footer-links-social-media flex">
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></i></a>
                  <a href=""><i class="fab fa-medium"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="flex">
          <div class="footer-content">
            <p class="footer-links-title">Légal</p>
            <ul class="footer-links-list">
              <li><a href="">Centre d'aide</a></li>
              <li><a href="">Confidentialité</a></li>
              <li><a href="">CGUs</a></li>
              <li><a href="">Mentions légales</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
