<div class="navbar-categories">
  <div class="category-container">
    <ul class="tabs-category flex">
      <% Category.all.each do |category| %>
        <%= link_to experiences_path(category: category.name), class: "accent-bottom-line" do %>
          <li class="tab-category"><%= category.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
