<div class="wrapper-1">
<div class="container">
<div class="pyro">	
  <div class="before"></div>
  <h2 id="wow-title">Félicitations! </h2>
  <p id="wow-paragraph"> Votre paiement a été accepté, vous allez recevoir un email de confirmation.</p>
  <div class="after"></div>
</div>
</div>
</div>
