<h1>This is the dashboard</h1>

<%= render 'new_invitation', user: @user_to_create %>


<div class="dashboard-menu-wrapper wrapper">
  <div class="dashboard-header container">
    <ul class="tabs flex">
      <li class="tab tab-un-dashboard-head active">Dashboard</li>
      <li class="tab tab-deux-collaborateurs-head">Mes collaborateurs</li>
    </ul>
  </div>
</div>


<div class="dashboard-wrapper wrapper">
  <div class="dashboard-tabs container">

    <div class="row">
      <div class="tab-un-dashboard">
        <p>Tab 1</p>
      </div>
    </div>

    <div class="row">
      <div class="tab-deux-collaborateurs hidden">
        <p>Tab 2</p>
      </div>
    </div>

  </div>
</div>
