<h1><%= "#{@user.company.name} dashboard" %></h1>

<div class="dashboard-menu-wrapper wrapper">
  <div class="dashboard-header container">
    <ul class="tabs flex">
      <li class="tab-head tab-un-dashboard-head active">Dashboard</li>
      <li class="tab-head tab-deux-collaborateurs-head">Mes collaborateurs</li>
    </ul>
  </div>
</div>


<div class="dashboard-wrapper wrapper">
  <div class="dashboard-tabs container">

    <div class="row">
      <div class="tab-un-dashboard tab-content-center">
        <p> Work in progress ...</p>
        <%= image_tag("dashboard_cut") %>
      </div>
    </div>

    <div class="row">
      <div class="tab-deux-collaborateurs hidden tab-content-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
              <div class="form-invitation">
                <h2>Inviter un collaborateur</h2>
                <%= render 'new_invitation', user: @user_to_create %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
