<div class="wrapper">
  <div class="container">
    <h1>What a beautiful official blue</h1>
    <h3>Welcome to Luma App</h3>
    <p>Yes this is the dark blue</p>
    <h4>Yes this is the dark gray</h4>

    <button type="button" class="btn btn-primary">Beautiful button</button>
    <br>
  </div>
</div>
<div class="footer">This is the footer</div>
