<header>
  <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="//player.vimeo.com/external/291585315.hd.mp4?s=482cd5f97f52201794d09436a66fc4830e255901&profile_id=174" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="banner banner-content">
          <p>
            <span id="banner-typed-text"></span>
          </p>
          <div class="e-button">
						<button class="btn-home">
							<span class="text">
										Je m'inscris ! 
							</span>
						</button>
					</div>
      </div>
    </div>
  </div>
</header>
<body>
<div class="pimg1" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.2) 0%), url('https://images.unsplash.com/photo-1497303857935-6ef75a089945?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');">
    <div class="ptext">
      <span class="border">
        Une solution clé-en main 
      </span>
    </div>
  </div>
  
  <section class="section section-light">
    <h2> Une solution clé-en main</h2>
     <p><div class="100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia explicabo doloremque dolor ratione! Natus voluptatum aperiam culpa deserunt molestias repudiandae odit, exercitationem obcaecati veniam pariatur iure optio hic, ad eius Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae in dignissimos cumque dolore totam et sint impedit placeat. Maiores vero esse autem voluptatum quam. Nulla suscipit unde modi praesentium.</div></p>
  </section>
  
  
   <div class="pimg2" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.2) 0%), url('https://images.unsplash.com/photo-1483519173755-be893fab1f46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80');">
    <div class="ptext">
      <span class="border">
        Des expériences uniques
      </span>
    </div>
  </div>
  
   <section class="section section-light">
    <h2> Des expériences uniques</h2>
     <p><div class="100">Dolor sit amet consectetur adipisicing elit. Officia explicabo doloremque dolor ratione! Natus voluptatum aperiam culpa deserunt molestias repudiandae odit, exercitationem obcaecati veniam pariatur iure optio hic, ad eius Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae in dignissimos cumque dolore totam et sint impedit placeat. Maiores vero esse autem voluptatum quam. Nulla suscipit unde modi praesentium.</div></p>
  </section>

<div class="pimg3" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.2) 0%), url('https://images.unsplash.com/photo-1497271679421-ce9c3d6a31da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');">
    <div class="ptext">
      <span class="border">
        Des avantages personalisés
      </span>
    </div>
  </div>

<section class="section section-light">
    <h2> Des avantages personalisés</h2>
     <p><div class="100">Dolor sit amet consectetur adipisicing elit. Officia explicabo doloremque dolor ratione! Natus voluptatum aperiam culpa deserunt molestias repudiandae odit, exercitationem obcaecati veniam pariatur iure optio hic, ad eius Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae in dignissimos cumque dolore totam et sint impedit placeat. Maiores vero esse autem voluptatum quam. Nulla suscipit unde modi praesentium.</div></p>
  </section>

<div class="pimg1">
</div>
 
</body>

	
  		
  		
	