<header>
  <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="//player.vimeo.com/external/291585315.hd.mp4?s=482cd5f97f52201794d09436a66fc4830e255901&profile_id=174" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="banner banner-content">
          <p>
            <span id="banner-typed-text"></span>
          </p>
          <div class="e-button">
						<button class="btn-home">
							<span class="text">
										Je m'inscris ! 
							</span>
						</button>
					</div>
      </div>
    </div>
  </div>
</header>
<body>
  <div class= "wrapper-1">
    
  </div>
</body>

	
  		
  		
	