<header>
  <div class="overlay"></div>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.2) 0%), url('http://www.catfinnie.co.uk/assets/img/portfolio/masonry/CatFinnie_WeekendSight.jpg');">
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="banner banner-content">
          <p>
            <span id="banner-typed-text"></span>
          </p>
          <a href="#" class="btn-home" data-toggle="modal" data-target="#luma-opt-in" style="
    padding-top: 23px;">Demander une démo</a>
          <!-- Button trigger modal -->
          <!-- Modal -->
          <div class="modal fade" id="luma-opt-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Obtenez une démo</h4>
                </div>
                <div class="modal-body">
                  <%= render "shared/mailchimp_opt_in_form" %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
<body>
<div class="pimg1" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.5) 0%), url('http://www.catfinnie.co.uk/assets/img/portfolio/masonry/CatFinnie_ParkRun100.jpg');">
    <div class="ptext">
      <span class="border">
        Une solution clé-en main
      </span>
    </div>
  </div>

  <section class="section section-light">
     <p><div class="100"> Accédez à votre dashboard pour suivre les types d'avantages les plus utilisés par vos collaborateurs 📊 <br>
     Invitez en un clic les nouveaux venus 😎 </div></p>
  </section>
   <div class="pimg2" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.5) 0%), url('http://www.catfinnie.co.uk/assets/img/portfolio/masonry/CatFinnie_Archer.jpg');">
    <div class="ptext">
      <span class="border">
        Des expériences inédites
      </span>
    </div>
  </div>

   <section class="section section-light">
     <p><div class="100">
      Chaque mois, de nouvelles offres négociés avec nos partenaires ✨ <br>
      Nous sélectionnons les meilleures activités culturelles, sportives et de bien-être issues de startups partenaires 🦸‍♂️</div></p>
  </section>

<div class="pimg3" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.5) 0%), url('http://www.catfinnie.co.uk/assets/img/portfolio/masonry/CatFinnie_Bulletin_MyTube1.jpg');">
    <div class="ptext">
      <span class="border">
        Un monde d'avantages personnalisés
      </span>
    </div>
  </div>

<section class="section section-light">
     <p><div class="100"> Notre algorithme sélectionne pour vous les offres qui vous correspondent le mieux 🤸‍♀️ <br>
     Offrez à vos collaborateurs un monde d'avantages personnalisés à portée de main en un clic 👌</div></p>
  </section>

<div class="pimg1" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0 , 1) 0%, rgba(0, 0, 0,0.5) 0%), url('http://www.catfinnie.co.uk/assets/img/portfolio/masonry/CatFinnie_WeekendSight.jpg');">
</div>
<div class="container-home">
  <div class="pricing__table">
      <div class="icon type-01">
        <span class="far fa-eye" aria-hidden="true">
        </span>
      </div>
      <h3 class="heading">Essai gratuit</h3>
      <h1 class="service__price">
       30 jours
        <sup class="dollar__sign"></sup>
      </h1>
      <ul class="features__list">
        <li>
          <i class="fa fa-check" aria-hidden="true">
          </i>
          20 employées
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true">
          </i>
          Personnalisation
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="false">
          </i>
          Dashboard
        </li>
        <li>
          <i class="fa fa-times" aria-hidden="false"></i>
          Avantages inclus
        </li>
      </ul>
        <a href="#" class="order__button" data-toggle="modal" data-target="#luma-opt-in"style="
    padding-left: 50px;padding-top: 5px;">S'inscrire</a>
          <div class="modal fade" id="luma-opt-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Obtenez une démo</h4>
                </div>
                <div class="modal-body">
                  <%= render "shared/mailchimp_opt_in_form" %>
                </div>
              </div>
            </div>
          </div>
  </div>

  <div class="pricing__table">
      <div class="icon type-01">
        <span class="fa fa-paper-plane" aria-hidden="true">
        </span>
      </div>
      <h3 class="heading">Standard</h3>
      <h1 class="service__price">
        5
        <sup class="dollar__sign">€/employé</sup>
      </h1>
      <ul class="features__list">
        <li>
          <i class="fa fa-check" aria-hidden="true">
          </i>
          illimité
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true">
          </i>
          Personnalisation
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true">
          </i>
          Dashboard
        </li>
        <li>
          <i class="fa fa-times" aria-hidden="true"></i>
          Avantages inclus
        </li>
      </ul>
    <a href="#" class="order__button" data-toggle="modal" data-target="#luma-opt-in"style="
    padding-left: 50px;padding-top: 5px;">S'inscrire</a>
          <div class="modal fade" id="luma-opt-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Obtenez une démo</h4>
                </div>
                <div class="modal-body">
                  <%= render "shared/mailchimp_opt_in_form" %>
                </div>
              </div>
            </div>
          </div>
  </div>


  <div class="pricing__table">
     <div class="icon type-02">
       <span class="fas fa-bolt" aria-hidden="true">
       </span>
     </div>
      <h3 class="heading">Premium</h3>
      <h1 class="service__price">
        25
        <sup class="dollar__sign">€/employé</sup>
      </h1>
      <ul class="features__list">
        <li>
          <i class="fa fa-check" aria-hidden="true">
          </i>
          illimité
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true">
          </i>
          Personnalisation
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true">
          </i>
          Dashboard
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>
          3 avantages inclus
        </li>
      </ul>
      <a href="#" class="order__button" data-toggle="modal" data-target="#luma-opt-in"style="
    padding-left: 50px;padding-top: 5px;">S'inscrire</a>
          <div class="modal fade" id="luma-opt-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Obtenez une démo</h4>
                </div>
                <div class="modal-body">
                  <%= render "shared/mailchimp_opt_in_form" %>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>
</body>





