/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
    text-align: center;
    color: white;
    right: 0;
    left: 0;
    top: 70px;
    position: fixed;
    z-index: 1051;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
