.banner {
  color: $light-gray;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.banner p {
  font-size: 35px;
  color: white;
  opacity: 1;
  margin-bottom: 30px;
  text-decoration: none;
  text-decoration-color: #d9394d;
  text-decoration-size: 3px;
  width: 800px;
}