a.btn-home {
  color: white;
  margin-top: 50px;
  border: 2px solid white;
  padding: 15px 40px;
  border-radius: 40px;
  transition:all .3s ease-in-out;
  position:relative;
  font-weight: 600;
  height: 78px;
  &:hover {
    background-color:$dark-blue;
    text-decoration: none;
    border-color: transparent;
  }
}
