$transition: all 0.3s ease;
$cardWidth: auto;
$cardHeight: auto;


.container-index {
  justify-content: space-between;
  font-family: $body-font;
  display: flex;
  background-color: white;
}

.container-cards {
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  padding-right: 10px;
}

.results {
  padding-left: 0px;
}

.experience-card {
  width: $cardWidth;
  height: $cardHeight;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: $transition;
  transform: scale(0.95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.03);
  margin-bottom: 10px;

}

.filtered-out {
  display: none;
}

.card-image {
  position: absolute;
  // background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  transition: $transition;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    transition: $transition;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }

}

.card-player {
  opacity: 0;
  height: 280px;
  width: 100%;
  position: relative;
  pointer-events: none;
  overflow: hidden;
  transition: $transition;

  #player {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
  }

}

.card-info {
  height: 270px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
  color: white;
  transform: translateY(188px);

  .title {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    color: white;
    // padding-bottom: 0.4rem;
    padding-left: 10px;
    z-index: 200;
    transition: $transition;
    margin-top: 15px;
    margin-bottom: 5px;


    &:after {
      position: absolute;
      content: "";
      bottom: -12px;
      left: 10px;
      width: 60px;
      height: 3px;
      background: $light-blue;
      z-index: 100;
      transition: $transition;

    }
  }

  .genre {
    color: $light-gray;
    margin-top: 1.2rem;
    padding-left: 10px;
    font-size: 16px;
    transition: $transition;
  }

  .desc {
    background: white;
    margin-top: 10px;
    color: $gray;
    padding: 31px 20px 15px 20px;
    font-size: 12px;
    transition: $transition;
    transform: translateY(20px);

    p {
      padding-right: 5px;
      color: $gray;
      font-size:12px;
    }

    .experience-infos  i {
      margin-right: 10px;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .desc .experience-infos p, i {
   color: $dark-gray;

  }

  .rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .stars {
      color: lighten($dark-blue, 10%);
    }

    .meta {
      font-weight: 500;
      font-style: italic;
    }

    i {
      width: 0.8em;
      transform: translateY(-3px);

      &:last-child {
        color: lighten($dark-blue, 10%);
      }

    }

  }

  .button-cards {
    background: $light-blue;
    width: 100%;
    text-align: center;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: $transition;
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0px;

    &:hover {
      background: $dark-blue;
    }

  }

}


.experience-card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);
  transform: scale(1);

  .card-image {
    transform: translateY(-140px);
  }

  .card-info {
    transform: translateY(0);
  }

  .genre {
    opacity: 0;
  }

  .title {
    padding-bottom: 10px;
    transform: translateY(33px) translateX(10px);
    font-size:16px;
    width: 60%;


    &:after {
      width: 85%;
      transform: translateX(-20px);
      transition-delay: 0.2s;
      transition: transform 0.3s ease, width 3s ease-in;
    }

  }

  .desc {
    transform: translateY(1px);
  }

}

.experience-card.--active {
  .card-image {
    transform: translateY(-100px) scale(1.4);
  }

  .card-player {
    opacity: 1;
  }

  .card-info .title:after {
    transition: all 0.2s ease;
    width: calc(100% + 10px);
  }

}

.fasfa-star  {
  color: $dark-blue;
}

.fasfa-star-half-alt {
  color: $dark-blue;
}

.title-container{
  position: relative;
  width: 100%;
  height: 45px;
}

.text-autocrop {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: $dark-gray;
}

.fix-bottom {
  bottom: 0px;
  position: absolute !important;
}

.price-container {
  position: relative;
  h3 {
    color: white;
    font-weight: normal;
    font-size: 25px;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 3px;
  }

  h4 {
  color: white;
  font-weight: normal;
  font-size: 18px;
  opacity: 1;
  margin-top: 0;
  text-decoration: line-through;
  text-align: right;
  }
}

.fix-top-right {
  top: 5px;
  right: 5px;
  position: absolute !important;
  margin: 10px;
}
