.btn-ghost {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-left: 30px;
}

.btn-ghost:hover {
  opacity: 1;
}
