.navbar-categories {
  width: 100%;
  background-color: white;
  margin-top: 70px;
  text-align: center;
}


.category-container {
  transition: all 0.3s ease;
  height: 70px;
  color: $dark-gray;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.category-container {
  a {
    color:$dark-gray;
  }
}

.tabs-category {
  list-style: none;
  justify-content: space-between;
  padding-left: 0px;
  align-items: center;
}

