/* Main navbar */
.navbar-wagon {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2px solid rgba(22, 52, 135, 0.3);
  font-family: $headers-font;
}

.navbar-wagon-white {
  background-color: white;
  a {
    color:$dark-blue;
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  font-size: 18px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 16px;
}

.navbar-wagon-link:hover {
  color: $light-blue;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.searchbar {
  margin-left: 13px;

}

.links-homepage {
  margin-top: 15px;
  display: flex;
  flex-direction: row;  position: absolute;
  position: absolute;
  left: 183px;
  bottom: 15px;
}

.navbar-wagon-white {
  position: sticky !important;
}

#homepage {
  position: fixed;
}
