.navbar-categories {
  width: 100%;
  background-color: white;
  text-align: center;
  border-bottom: 0.2px solid rgba(22, 52, 135, 0.3);
  -webkit-box-shadow: 0px 5px 9px 0px rgba(22,52,135,0.3);
  -moz-box-shadow: 0px 5px 9px 0px rgba(22,52,135,0.3);
  box-shadow: 0px 5px 9px 0px rgba(22,52,135,0.3);}


.category-container {
  transition: all 0.3s ease;
  height: 60px;
  color: $dark-gray;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.category-container {
  a {
    height: 100%;
    color:$dark-gray;
    text-decoration: none;
    position: relative;
  }
}

.tabs-category {
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-left: 0px;
  margin-bottom: 0;
  font-family: $headers-font;
  cursor: pointer;
  height: 100%;
}

.tab-category {
  height: 100%;
  width: auto;
  &:last-of-type {
    margin-right: 0;
  }
}

.accent-bottom-line {
  &:after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -1px;
    height: 3px;
    background: $dark-blue;
    opacity: 0;
    transition: all ease-out .3s;
  }
  &.selected:after, &:hover:after {
    opacity: 1;
    left: 0px;
    right: 0px;
  }
}
