
.tabs {
  justify-content: center;
  display: flex;
  list-style: none;
}

.tabs ul {
  margin-bottom: 0px;
  height: 0px;
}

.tabs li {
  color: rgb(20,20,20);
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: $light-gray;
  margin-bottom: 0px;
  border-radius: 10px 10px;
  margin: 0px 5px;
    &:hover {
    cursor: pointer;
    background-color:#64baa5;
  }
}

.tabs li.active {
  color: white;
  cursor: pointer;
  background-color: $dark-blue;
}

.dashboard-wrapper {
  margin-bottom: 50px;
}

.tab-content-center {
  text-align: center;
}

.dashboard-header.container {
  margin-bottom: 20px;
  margin-top: 20px;
}

ul.tabs.flex {
  padding: 0px;
}

.tab-un-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
}
